<div class="container">
    <div class="d-flex" >
    <%= link_to "+ add task", new_communitytask_path, class: "btn btn-new" %>
  </div>
  <br>

 <h3 class="text-center">Community Tasks &  <span style="color: #118C4F">Skatezar Coins</span></h3>
 <h6 class="text-center">Lets grow skatezar <span style="font-weight:bold;">as a community</span></h6>
<div class="container">
  <br>

  <h2>
    <a style=" display: block; margin: auto; width: 350px;" class="btn btn-white d-flex justify-content-between" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <span>
        What is this?
      </span>
      <span class="ml-3" style="margin-top:-2px;">
        +
      </span>
    </a>
  </h2>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <p>
      Skatezar is a <span style="font-weight:bold;">community</span>. Help skatezar grow and earn your skatezar coins.
      The ones who do the most - get the most coins</p>
  </div>
</div>

</div>

<!-- what can I do with sz coins? -->

<h2>
    <a style=" display: block; margin: auto; width: 350px;" class="btn btn-white d-flex justify-content-between" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
      <span>
        What can I do with skatezar coins?
      </span>
      <span class="ml-3" style="margin-top:-2px;">
        +
      </span>
    </a>
  </h2>
<div class="collapse" id="collapseExample2">
  <div class="card container card-body">
    <ol>
        <li> <span style="font-weight:bold;"><%= link_to "+ BUY ITEMS", coinproducts_path, class: "btn btn-new m-2" %></span> which allow skatezar coins as a form of payment. </li>
        <% if current_user %>
          <li> <span style="font-weight:bold;"><%= link_to "+ PROMOTE", user_my_items_path(current_user), class: "btn m-2 btn-new" %> Your Items & get Insta Shoutouts! </span>
          <% else %>
          <li> <span style="font-weight:bold;">Promote your items & get insta shoutouts! </span>
        <% end %>
        <li> <span style="font-weight:bold;">Earn community status </span> and become a part of the <%= link_to "+ SKATEZAR TEAM", skatezarteam_path, class: "btn btn-new" %> </li>
      </ol>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "+ BUY THINGS WITH SKATEZAR COINS", coinproducts_path, class: "btn btn-new", style: "width: 350px;" %>
</div>

<br>

</div>
<div class="container d-flex justify-content-center">
  <%= link_to "+ View Leaderboard ", skatezarteam_path, class: "btn btn-new" %>
</div>

</span>
<br>
<br>
<h5 class="text-center">
  <% j = 0 %>
  <% @communitytasks.each do |task| %>
    <% if task.user.admin == true %>
      <% j += 1 %>
    <% end %>
  <% end %>
  <strong>
    THERE ARE <%= j %> TASKS YOU CAN DO
  </strong>
</h5>
<br>
<% i = 0 %>
<% @communitytasks.each do |communitytask| %>
<div class="container">
<% if communitytask.user.admin == true %>
<a href="<%= communitytask_path(communitytask) %>">
  <div class="task-bckg">
      <% i = i + 1 %>
      <h2 class="text-center"><%= "##{i} - "  %><%= communitytask.title %></h2>
      <p class="text-center"  ><%= communitytask.description %></p>
      <h2 class="money-green text-center" style="font-size:16px;">
        +<%= communitytask.coin_reward %> Coins
      </h2>
     <% if communitytask.automatic_verification == true %>
      <div class="container">
        <p class="text-center baby-blue">Coins Added Automatically :)</p>
      </div>
      <% else %>
        <p class="text-center" style="color: red;">Not verified automatically</p>
        <div class="text-center">
          <%= link_to 'CLAIM COINS', new_communitytask_claim_path(communitytask), class: "btn btn-new d-flex justify-content-center money" %>
        </div>
      <% end %>
    </div>
    <div>
      <% if policy(communitytask).edit? %>
        <%= link_to edit_communitytask_path(communitytask) do %>
          <i class="fas fa-edit icons-edit-delete" style="font-size: 30px; color: #1ACB80;" ></i>
        <% end %>
      <% end %>
    </div>
    <% if policy(communitytask).destroy? %>
        <%= link_to communitytask_path(communitytask),
                  method: :delete,
                  data: { confirm: "Ok?" } do %>
        <i class="fas fa-trash-alt icons-edit-delete" style="font-size: 30px;color: #c70000;"></i>
        <% end %>
      <% end %>
  </div>
</a>
  <% end %>
<br>

<% end %>

</div>
</div>

</div>



<br>

<style type="text/css">
  .money-green{
    color: #118C4F;
  }
  .task-bckg{
      background-color: white;
    border: 1px solid black;

  }
</style>
