
<audio controls  id="bang" style="display:none;">
  <source src="https://res.cloudinary.com/diopgwo4d/video/upload/v1618842491/bang_pm87kx.mp3" type="audio/ogg">


</audio>

<script type="text/javascript">
  var bang = document.getElementById("bang");


  window.onload = function() {
    bang.play();
}
</script>


<div class="container">

  <h2 class="text-center"> WELCOME TO LEDGEDICE! </h2>
  <p class="text-center mt-3" style="font-size:24px; font-weight: bold;">Level: HARD 😵</p>
<br>
  <% trick_in = ['kickflip', 'fs shuvit', 'bs shuvit']%>
  <% stances = ['normal', 'switch', 'nollie', 'fakie ollie'] %>
  <% side = ['frontside', 'backside'] %>
  <% grind_or_slide = ['50-50', '5o', 'Nosegrind', 'Tailslide', 'Noselide', 'Lipslide', 'Smith grind'] %>
  <% combo = ['flip out', 'bs shuvit out', 'fs shuvit out', '360 out'] %>


  <h3 class="text-center" style="background-color: white; padding:50px; border: 1px solid black;">

     <%= stances.sample %>

     <%= trick_in.sample %>
  <%= side.sample %>
  <%= grind_or_slide.sample %>
  <%= combo.sample %>


  </h3>
  <br>

  <div class="d-flex justify-content-around">

      <%= button_to "EASY", ledgediceeasy_path, :method => :get, class: "btn btn-primary" %>
      <%= button_to "MEDIUM", ledgedicemedium_path, :method => :get, class: "btn btn-primary" %>
      <%= button_to "HARD", ledgedicehard_path, :method => :get, class: "btn btn-primary"%>

  </div>


<br>
  <!-- question 1 -->
      <p>
        <a class="btn btn-white d-flex justify-content-between" data-toggle="collapse" href="#collapseq11" role="button" aria-expanded="false" aria-controls="collapseq11">

          <span>How to Play?</span>
          <span> + </span>
        </a>
      </p>
      <div class="collapse" id="collapseq11">
        <div class="card card-body">
          <p> How to play </p>
            <ul>
              <li>Bet (with or without $) with a friend </li>
              <li>Click play to generate a random trick</li>
              <li> If you land the trick, your friend pays you </li>
              <li> If you don't land the trick, you pay your friend </li>
              <li> Instead of money, you can also play it like a game of SKATE </li>

            </ul>
        </div>
      </div>

</div>


<%= render 'othergames' %>

